$black:#212121;
$dark:#0e0e0e;
$blue:#185ADB;
$yellow:#ffed4b;
$cream:#FEDDBE;
$white:#ffffff;
$grey:#383838;

/** Text color **/
.color-white{color:$white;}
.color-dark{color:$dark;}
.color-black{color:$black;}
.color-blue{color:$blue;}
.color-yellow{color:$yellow;}
.color-cream{color:$cream;}

/** Background **/
.bg-white{background-color:$white;}
.bg-dark{background-color:$dark;}
.bg-black{background-color:$black;}
.bg-blue{background-color:$blue;}
.bg-yellow{background-color:$yellow;}
.bg-cream{background-color:$cream;}

