@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Raleway:wght@300;400;500;600;700&display=swap');

$merri: 'Merriweather', serif;
$raleway: 'Raleway', sans-serif;

/** Merriweather weight **/
$merri-300:400;
$merri-400:400;
$merri-700:700;

/** Raleway weight **/
$raleway-300:300;
$raleway-400:400;
$raleway-500:500;
$raleway-600:600;
$raleway-700:700;

